<h1><%= @product.title %></h1>
<p><strong>Price:</strong> $<%= @product.price %></p>
<p><strong>Stock Quantity:</strong> <%= @product.stock_quantity %></p>
<p><strong>Description:</strong></p>
<p><%= @product.description %></p>

<%= link_to 'Back to Product List', products_path %>
